.tab-panel {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #999999;

  padding: 5px;
  background-color: #dfdfdf;

  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
.tab-panel-min-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #999999;

  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 1px;

  font-size: 12px;
}
.tab-panel-min-button:hover {
  border: 2px solid #000000;
  padding: 0;
  font-weight: bold;
}
.tab-panel-buttonbar {
  padding: 5px;
}
.tab-panel-button {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #000000;

  padding: 3px 10px;
  margin: 5px;

  background-color: #ffffff;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-panel-button-active {
  background-color: #ddddff;
  border: 1px solid #0000ff;
}
.tab-panel-button:hover {
  border: 1px solid #ff0000;
}
.tab-panel-inputbar-container {
  padding: 5px 5px 0;
}
.tab-panel-inputbar-separator {
  margin: 5px 0;
  height: 1px;
  padding: 0;
  background-color: #999999;
}
.tab-panel-inputbar-help {
  width: 430px;
}
.tab-panel-inputbar {
  display: flex;
  align-items: center;
  padding: 0;
}
.tab-panel-label {
  padding-right: 5px;
}
.tab-panel-input-address {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #000000;

  width: 400px;

  padding: 3px 5px;
}
.address-notfound {
  border: 1px solid #ff0000;
}
.tab-panel-input-azimut {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #000000;

  width: 50px;

  padding: 3px 5px;
}
.tab-panel-input-lac {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 50px;

  border: 1px solid #000000;
  padding: 3px 5px;
}
.tab-panel-input-cid {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 50px;

  border: 1px solid #000000;
  padding: 3px 5px;
}
.tab-panel-region-btn {
  padding: 3px;
}
.tab-panel-region-btn-active {
  outline: 1px solid #777777;
}
.tab-panel-region-oper {
  margin: 0 3px 0 3px;
}
.map-cursor-pointer {
  cursor: default;
}